.tabbed-widget__panel-wrapper {
    position: relative;
    /*background-color: #a0c8ea;*/
    width: 100%;
    height: 391px;
}

.tabbed-widget__panel {
    position: absolute;
    top: 0;
    left: 0;
    /*background-color: #0bb3da; */
}

.tabbed-widget__panel, .tabbed-widget__panel.tabbed-widget__panel_expanded {
    opacity: 1;
    z-index: 1;
    transition: opacity 0.1s;
    /*background-color: blue;*/
}

.tabbed-widget__panel[aria-expanded="false"] {
    opacity: 0;
    z-index: 0;
}